.App {
  

}
img{
  width: 100%;
}
.cont
{
  text-align: center;
  width:500px;
margin-left: 500px;
 
  margin-top:30px ;
  background-color: cornflowerblue;

}

/* .isdone
{
  text-decoration: ;
} */

.addtask
{
  padding-top: 10px;
 
 
}
.task
{
  margin-top: 10px;
}



.listtask
{
  margin-top: 20px;
 
}
.filtertask
{
 
  margin-top: 20px;
  margin-bottom: 20px;
}
.filtertask Button{

margin-left: 10px;
width: 110px;
margin-bottom: 10px;
}